<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bg designs</title>
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="stylesheet" href="../slick/slick.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <link rel="stylesheet" href="../slick/slick-theme.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>
    <a href=""><img src="/public/images/logo.png" href="#home" alt=""></a>
    <nav>
      <li><a href="#works">WORKS</a></li>
      <li><a href="#projects">PROJECTS</a></li>
      <li><a href="#products">PRODUCTS</a></li>
      <li><a href="#contacts">CONTACTS</a></li>
    </nav>
  </header>

  <section class="hero" id="home">
    <div class="background-image" style="background-image: url(../public/images/photo-desktop.png);"></div>
    <div class="hero-content-area">
      <img src="/public/images/hello.png" alt="">
    </div>
    <div class="socials">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </section>
  
  <section class="works" id="works" >
    <h5 class="works-text">Works</h5>
        <div class="gallery">
            <div class="for_slick_slider multiple-items">
                <div class="items">
                    <img src="/public/images/1.jpg" alt="">
                    <div class="overlay">
                      <div class="overlay-caption">Fit girl<br>1.2.2020</div>
                    </div>
                </div>

                <div class="items">
                    <img src="/public/images/2.jpg" alt="">
                    <div class="overlay">
                      <div class="overlay-caption">Russian flats<br>3.4.2020</div>
                    </div>
                </div>

                <div class="items">
                    <img src="/public/images/3.jpg" alt="">
                    <div class="overlay">
                      <div class="overlay-caption">Beach sunset<br>5.6.2020</div>
                    </div>
                </div>

                <div class="items">
                    <img src="/public/images/4.jpg"">
                    <div class="overlay">
                      <div class="overlay-caption">Pink forest<br>7.8.2020</div>
                    </div>
                </div>

                <div class="items">
                    <img src="/public/images/5.jpg" alt="">
                    <div class="overlay">
                      <div class="overlay-caption">Jewel eye<br>9.10.2020</div>
                    </div>
                </div>

                <div class="items">
                    <img src="/public/images/6.jpg" alt="">
                    <div class="overlay">
                      <div class="overlay-caption">Texas sunrise<br>11.12.2020</div>
                    </div>
                </div>

            </div>
        </div>
  </section>

  <section class="packages" id="projects">
    <h3 class="title">Projects</h3>
    <p>These are my recent projects on which I'm working right now</p>
    <hr>

    <ul class="grid">
      <li>
        <i class="fas fa-chair"></i>
        <h4>Stolichkair</h4>
        <p>Stolichkair je kombinacia slov Stolicka a anglickeho slova chair je to moj project kde pracujem na dizajne modernej novodobej stolicky s vysokou vyuzitelnostou a komfortom
      </li>
      <li>
        <i class="fas fa-birthday-cake"></i>
        <h4>Palacinkaren</h4>
        <p>Miesto pre dospelych a hlavne aj deti. Projekt ktoreho dizajn ta vrati do detstva, kedy neexistovali ziadne starosti. V palacinkarni nato zabudnes pretoze interier ta vtiahne do krajiny lahodnych palaciniek</p>
      </li>
      <li>
        <i class="fas fa-bacon"></i>
        <h4>Bacon</h4>
        <p>Z francuzskeho slova bacoon pochadza tato dobrota. AK mas vysoky krvny tlak a cholesterol nuz, dobre vies o co prichadzsa si tam kde si preto ze si slaninky zedol asi moc. L O L</p>
      </li>
      <li>
        <i class="fas fa-cat"></i>
        <h4>Jack the Black Cat</h4>
        <p>It's indoor stylish peace cat tree purrrrniture, if you like cats and i know you do. Because you are 
         still reading this paragraph. You can check it out with clicking on button below</p>
        <a href="https://www.amazon.com" class="btn btn-danger">Navstiv obchod</a>
      </li>
    </ul>
  </section>

  <h1 class="nadpis">Digital Bussiness Card</h1> 
  <section id="contacts">
    <div class="contacts-card">
      <div class="nameBar">
        <span class="contactsHead">
          Barbora Gaziova
        </span><a href="#home"><img src="images/logo.png" alt=""></a>
        <span class="contactsHead">
          Interior designer
        </span></div>
      <div class="card">
        <div class="leftCard">
          <p>bg Designs<br>
          Praha<br>
          Old town<br>
          +420 261 191 211</p>
        </div>
        <div class="rightCard">
  
        </div>
      </div>
      <div class="socials-contacts">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
  </section>


  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="app.js"></script>
  
</body>
</html>
