<%- include("../partials/header") %>
<div class="gallery">
    <div class="left-gallery">
        NIECO
    </div>
    
    <div class="right-gallery">
        <div class="row">
            <div class="column">
              <img src="../../images/works/bathroom/01.jpg">
              <img src="../../images/works/bathroom/03.jpg">
            </div>
            <div class="column">
                <img src="../../images/works/bathroom/05.jpg">
                <img src="../../images/works/bathroom/04.jpg">
            </div>
            <div class="column">
                <img src="../../images/works/bathroom/06.jpg">
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>