/*General Styles*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	color: #555;
	scroll-behavior: smooth;
}

body{
	height: 100vh;

}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #3f51b5;
	opacity: 1;
}

section {
	display: flex;
	align-items: center;
	padding: 100px 80px;
	scroll-snap-align: center;
}

.packages {
	flex-direction: column;
}


.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
		flex-direction: column;
	}
}

/*Header Styles*/

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.6s forwards;
	opacity: 0;
	color: #fff;
	z-index: 2;
}

@keyframes fadein {
	100% {
		opacity: 1;
		color: black;
	}
}

header a {
	width: 150px;
}

header a  img{
	width: 150px;
}


header nav {
	display: flex;
	margin-right: -15px;
	width: 80%;
	justify-content: space-around;
}

header nav li {
	font-size: 20px;
}

header nav li a {
	color: black;
	font-family: 'Anton', sans-serif;
	font-weight: 800;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
	header img {
		width: 100px;
	}

	header nav li {
		margin: 0 3px;
		font-size: 12px;
	}

	header nav li a {
		color: black;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

.hero img{
	transform: translate(-72px, -100px);
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

.hero .socials {
	display: flex;
	width: 150px;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 50px;
	left: 100px;
	cursor: pointer;
	z-index: 1;
}



.hero .socials a {
	animation: 1s fadein 0.5s forwards;
	transform: scale(2);
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero img {
		width: 200px;
		transform: translate(0px, 0px);
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}

	.hero .background-image {
		display: none;
	}

	.hero .socials {
		display: flex;
		width: 150px;
		height: 50px;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		left: 20px
	}
	
	
	
	.hero .socials a {
		animation: 1s fadein 0.5s forwards;
		transform: scale(1.5);
	}

}

/*Works Section*/

.works {
	display: flex;
	justify-content: space-around;
	padding-right: 0;
}

/* SLICK TEST */
.for_slick-slider div { transition: none; }

.for_slick_slider .items>img {
    width: 100%;
    max-height: 90%;
}
.works-text{
	width: 20%;
	text-align: center;
}
.gallery {
    width: 80%;
    margin: auto 0;
}

@media (max-width: 800px) {
    .gallery {
        width: 100%;
    }
}

.arrow_next {
    float: right;
    transform: translate(30px, -210px) scale(3);
    opacity: 0.8;
    color: grey;
}

.arrow_prev {
    float: left;
    color: grey;
    transform: translate(-30px, -210px) scale(3);
    opacity: 0.8;
}

.items {
	position: relative;
	transition: 1s;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, .35);
    transition: 0.2s;
	opacity: 0;
	transition: 1s;
}

.overlay:hover {
	opacity: 1;
}

@media (max-width: 800px) {
	.arrows {
		display: none;
	}

	.slick-center img:hover {
		opacity: 0.3;
	}
}

.slick-track {
    display: flex;
    align-items: center;
}

div.items.slick-slide {
    margin: auto 10px
}

/*Packages Section--------------------------------------------*/
.packages ul.grid li i {
	transform: scale(4);
}

.packages .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.packages .grid li i {
	color: #8c9eff;
}

.packages .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.packages .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/*Testimonials Section*/

.testimonials .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
}

@media (max-width: 800px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.testimonials .author {
		font-size: 14px;
	}
}

/*Contact Section*/

#contacts {
    justify-content: center;
	align-items: center;
	transition: 1s;
}

.contacts-card {
    background: rgba(200, 200, 200, 0.4);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    font-family: 'Anton', sans-serif;
    padding: 15px;
    text-align: center;
    z-index: 100;
    min-width: 165px;
    display: flex;
    flex-direction: column;
	justify-content: space-around;
}

.nameBar {
	display: flex;
	justify-content: space-around;
	padding: 0 50px;
}

.nameBar .contactsHead {
	align-self:flex-end;
}

.card {
	display: flex;
}

.leftCard {
	width: 50%;
	flex-direction: column;
	align-self: center;
}

.leftCard p{
	margin-bottom: 0;
}

.rightCard {
	width: 50%;
	flex-direction: column;
	align-self: center;
}

.rightCard p{
	margin-bottom: 0;
}



.contacts-card a img{
	width: 50px;
}

.contacts-card a img:hover{
	transform: scale(2);
	transition: 1s;
}

.contacts-card a {
	transition: 1s;
}

.socials-contacts a {
    padding-left: 10px;
}

div.socials-contacts a i{
    color: black;
    transition: transform .2s;
}

div.socials-contacts a i:hover {
    transform: scale(1.6);
    transition: transform .2s;
}

@media (max-width: 800px) {
	.contacts-card {
		background: rgba(200, 200, 200, 0.4);
		width: 60%;
		height: 30%;
		flex-direction: column;
	}
	.nameBar{
		flex-direction: column;
	}
	.card {
		flex-direction: column;
	}
	.leftCard, .rightCard {
		width: 100%;
	}


.nadpis {
	text-align: center;
}
